/* Highlight the link to the current page in the navbar. */
.sy-head-links a[href="#"] {
    color: var(--accent-9);
    font-weight: bold;
}

/* Hide the default Shibuya footer. */
.sy-foot {
  display: none !important; 
}