/* Styles specific to the homepage. */
.sy-head {
  display: none !important;
}

.sy-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  text-align: center;
  animation: fadeInAnimation 2s ease forwards;
}

.yue section:first-of-type h1 {
  font-size: min(15vw, 4.2rem);
}

.yue p.lead {
  margin-top:0px
}

.sy-content .buttons p {
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}